<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="configFragment">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" th:content="${metaTitle}">
    <title>기상 레이더 장애 문자 전송 시스템</title>

    <!-- 📌 아이콘 경로 th:href 로 변경 -->
    <link rel="icon" th:href="@{/images/watchdog_icon.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/images/watchdog_icon.png}" type="image/x-icon">

    <!-- 스타일시트 경로 (기존 유지 및 검증) -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/radar/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/radar/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/radar/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/noty/buttons.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/css/radar/jquery-ui-timepicker-addon.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/css/toggle/toggle-switch.css}" />

    <!-- 📌 중요: type을 text/javascript로 수정하고 th:src 구문으로 통일 -->
    <script type="text/javascript" th:src="@{/js/radar/jquery-3.7.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/radar/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/radar/jquery-ui-timepicker-addon.js}"></script>
    <script type="text/javascript" th:src="@{/js/radar/jquery-ui-timepicker-ko.js}"></script>
    <script type="text/javascript" th:src="@{/js/radar/jquery.ui.monthpicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/radar/ui_common.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/toggles.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/default.js}"></script>

    <script th:if="${@environment.getProperty('app.env') != 'prod'}">
      console.log("이 로그는 개발 환경에서만 보입니다.");
    </script>
  </head>
</th:block>
</html>
